rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /boards/{boardId} {
      allow read, write: if isMemberOrOwner(boardId);

      match /tasks/{taskId} {
        allow read, write: if isMemberOrOwner(boardId);
      }
    }

    function isMemberOrOwner(boardId) {
      return request.auth != null &&
        (
          get(/databases/$(database)/documents/boards/$(boardId)).data.ownerId
          == request.auth.uid
          ||
          request.auth.uid in
            get(/databases/$(database)/documents/boards/$(boardId)).data.memberIds
        );
    }
  }
}
